page-home {
  ion-card{
    position: relative;
    text-align: center;
  }
  .card-title{
    position: absolute;
    top:30%;
    font-size:2.0em;
    font-weight: bold;
    color: #fff;
    width: 100%;
  }
  .card-title{
   position: absolute;
   top:52%;
   font-size:1.0em;
   font-weight: bold;
   color: #fff;
   width: 100%;
}
.btn-google-plus{
    color:#fff;
    background-color:#ff1425!important;
  }
  .btn-linkedin{
    color:#fff;
    background-color:#0082FF!important;
  }
  .btn-twitter{
    color:#fff;
    background-color:#0121ff!important;
  }
  .btn-youtube{
    color:#fff;
    background-color: #ff1425!important;
  }

  .btn-facebook{
    color:#fff;
    background-color: #3b5998!important;
  }

  .btn-mail{
    color:#fff;
    background-color: #512da8!important;
  }
  
  
}
